@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}


html,
body,
app-root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Opcional: evita el scroll si es deseado */
}